:root {
  --main-dark: #0a192f;
  --main-light: #112240;
  --accent: #6ff4fb;
  --almost-white: #d3d6da;
  --not-quite-white: #8ea6ce;
}

body {
  background-color: var(--main-light);
  color: var(--not-quite-white);
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: clamp(20px, 8vw, 80px);
  font-weight: bold;
}
h2 {
  font-size: clamp(30px, 8vw, 80px);
  font-weight: bold;
  color: var(--almost-white);
}
h3 {
  font-family: monospace;
  font-size: clamp(30px, 7vw, 50px);
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--accent);
  border-bottom: solid 2px var(--accent);
  line-height: 0.1em;
}

h3 span {
  background-color: var(--main-light);
  padding-right: 20px;
}

h4 {
  color: var(--almost-white);
  font-weight: bold;
  line-height: 2;
}

p {
  font-size: clamp(7px, 4vw, 18px);
}

nav {
  background-color: var(--main-dark);
  padding: 0 30px !important;
}

.nav-logo {
  max-width: 70px;
  cursor: auto;
}

nav ul a {
  font-family: monospace;
  color: var(--accent) !important;
  font-size: clamp(7px, 5vw, 20px) !important;
  transition: scale 150ms ease-in;
}

nav ul a:hover {
  cursor: pointer;
  scale: 1.2;
  text-decoration: underline;
}

.fa-bars {
  color: var(--accent);
}

.content {
  max-width: 70%;
  margin: 70px auto;
}

.shadow-main {
  box-shadow: 5px 5px 10px var(--main-dark);
}

.main-btn {
  font-family: monospace;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 15px;
  color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 5px;
  box-shadow: 5px 5px var(--accent);
  transition: all 150ms ease-in-out;
}

.main-btn:hover {
  cursor: pointer;
  color: var(--main-light);
  background-color: var(--accent);
  box-shadow: none;
}

.bg-main-dark {
  background-color: var(--main-dark);
  padding: 10px 10px;
  border-radius: 5px;
}

.greeting {
  color: var(--accent);
  font-family: monospace;
}

.hero p {
  max-width: 750px;
  line-height: 1.5;
  margin-top: 30px;
}

.resume-btn {
  margin-top: 40px;
}

.about-img {
  display: block;
  margin: 0 auto;
  border: solid 1px var(--accent);
  border-radius: 5px;
  max-width: 60%;
}

.about {
  background-color: var(--main-dark);
  padding: 20px 15px;
  border-radius: 5px;
}

.projects p {
  line-height: 1.7;
}

.project-btn {
  font-family: monospace;
  font-size: 22px;
  color: var(--accent);
}
.project-btn:hover {
  text-decoration: none;
}

.project-img {
  border-radius: 5px;
}

.contact-p {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.social-links {
  font-size: 34px;
  margin: 40px auto;
}

.social-links i {
  color: var(--accent);
  background-color: var(--main-dark);
  padding: 10px;
  border-radius: 50%;
  transition: all 200ms ease-in-out;
}

.social-links i:hover {
  color: var(--main-light);
  background-color: var(--accent);
  cursor: pointer;
}

.hello-btn {
  text-align: center;
}

@media (min-width: 700px) {
  h3 {
    margin-bottom: 100px;
  }
  .content {
    margin: 210px auto;
  }
}

@media (max-width: 600px) {
  .hero {
    text-align: center;
  }

  .contact-p {
    max-width: 100%;
  }

  .social-links {
    font-size: 18px;
  }
}
